.idea
/learning_note/Deep_Learning/.ipynb_checkpoints/
/venv/
/.ipynb_checkpoints/
/learning_note/Reinforcement_learning/.ipynb_checkpoints/
/*.pdf
/learning_note/.ipynb_checkpoints/
/learning_note/Mathematical_Foundation/.ipynb_checkpoints/
/5.Reinforcement_Learning/*.pdf
/5.Reinforcement_Learning/Monte_Carlo/.ipynb_checkpoints/
/5.Reinforcement_Learning/Maze/.ipynb_checkpoints/
/5.Reinforcement_Learning/FrozenLakeEnv/.ipynb_checkpoints/
/5.Reinforcement_Learning/CliffWalking/.ipynb_checkpoints/
/4.Deep_Learning/conv-visualization/.ipynb_checkpoints/
/4.Deep_Learning/gradient-descent/.ipynb_checkpoints/
/4.Deep_Learning/IMDB-keras/.ipynb_checkpoints/
/5.Reinforcement_Learning/Maze/final1.mp4
/5.Reinforcement_Learning/Maze/robot_maze.html
/4.Deep_Learning/conv-visualization/
/4.Deep_Learning/dl-final-project/
